fieldset {
    border-radius: 10px;
    border-color: rgba(69, 116, 204);
    margin: 0;
    margin-bottom: 15px;
}

legend{
    color: rgba(69, 116, 204);
}

.cancels {
    border-radius: 10px;
    border-color: rgb(168, 37, 37);
    margin: 0;
    margin-bottom: 15px;
    color: rgb(168, 37, 37);
}